<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <title>report image title </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      
    </style>
  </head>

  <body>
     <!-- 해당 템플릿은 저작권 보호를 위하여 예시로 대체합니다.  -->
    <div class="page">
      <!-- 상단 헤더 -->
      <div class="header">

        <div class="brand"> </div>
        <div class="meta"></div>
      </div>

      <!-- 원하시는 공간으로 분리하여 템플릿 작성이 가능합니다.  -->

      <!-- content -->
      <div class="section"> </div>
            <!-- content -->
      <div class="section"> </div>

      </div>
    </div>
  </body>
</html>
